.c-b-dark-gray { background: #333 !important; }
.c-b-dark-gray-2 { background: #222 !important; }
.c-b-red { background: #cc1d16 !important; }
.c-b-green-2 { background: #3b7837 !important; }
.c-b-blue-2 { background: #1986ad !important; }

.c-dark-gray { color: #333 !important; }
.c-light-gray { color: #CCC !important; }
.c-light-gray-2 { color: #666 !important; }
.c-white { color: white !important; }
.c-red { color: #cc1d16 !important; }
.c-red-2 { color: #ea2424 !important; }
.c-green { color: #19c143 !important; }
.c-green-2 { color: #3b7837 !important; }
.c-blue { color: #3b83c0 !important; }
.c-blue-2 { color: #1986ad !important; }
.c-light-blue { color: #badff4 !important; }
.c-purple { color: #564f8a !important; }
.c-purple-2 { color: #a25bff !important; }
.c-orange { color: #e07b53 !important; }
.c-gold { color: #ffaa00 !important; }