@import 'colors.css';
@import 'winbar.css';
@import 'menu.css';

body { font-family: 'Unica One'; }

.col > h2 { font-weight: bold; }

#dotabuff > img { height: 64px; }

#empty {
    width: 80vw;
    margin: 0 auto;
    font-size: 2em;
}

#editor { 
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
}

.btn-lg { margin: 10px 5px 10px 5px; }