@import 'colors.css';
@import 'winbar.css';
@import 'menu.css';

body { font-family: 'Unica One'; }

.col > h2 { font-weight: bold; }

#dotabuff > img { height: 64px; }

#empty {
    width: 80vw;
    margin: 0 auto;
    font-size: 2em;
}

#editMMR { display: none; }

#editMMR > div {
    display: inline-block;
    vertical-align: top;
}

#editMMR > div:first-child > div > span {
    display: inline-block;
    width: 120px;
    text-align: center;
}

#editMMR > div:first-child > div > input { width: 60vw; }

#editMMR > div:nth-child(2) > a { margin: 10px 5px 10px 5px; }
